<div>
  <div>
    <label for="from"></label>
    <input [(ngModel)]="currentUser" [disabled]="isConnected$ | async"
      type="text" id="from" placeholder="Choose a nickname"
    />
  </div>
  <br />
  <div>
    <button id="connect" (click)="connect()" [disabled]="(isConnected$ | async) || !currentUser?.length">Connect</button>
    <button id="disconnect" (click)="disconnect()" [disabled]="!(isConnected$ | async)">
      Disconnect
    </button>
  </div>
  <br />
  <div id="conversationDiv" *ngIf="isConnected$ | async">
    <label for="text"></label>
    <input [(ngModel)]="messageText" type="text" id="text" placeholder="Write a message..."/>
    <button id="sendMessage" (click)="sendMessage()" [disabled]="!messageText?.length">Send</button>
    <ng-container *ngIf="messages$ | async as messages">
      <ng-container *ngIf="messages.length else noMessages">
        <p *ngFor="let message of messages">
          <strong>{{message.from}}</strong> said: {{message.text}} ({{message.time | date: 'short'}})
        </p>
      </ng-container>
      <ng-template #noMessages>
        <p>There are no messages in this chat yet.</p>
      </ng-template>
    </ng-container>
  </div>
</div>
